<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="/register/" method="post">
    <label for="phone">Номер телефона</label>
    <input id="phone" type="text" name="phone">
    <label for="password">Пароль</label>
    <input id="password" type="password" name="password">
    <label for="password">Повторите пароль</label>
    <input id="password_rep" type="password" name="password_rep">
    <label for="phone">Имя</label>
    <input id="name" type="text" name="name">
    <label for="surname">Фамилия</label>
    <input id="surname" type="text" name="surname">
    <input type="submit" value="OK">
</form>
{{ error }}
</body>
</html>